/* font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif; */

header{
  background-color:#e5f3f2;
  height: 100%;
  height: 4.5rem;

}
h1 {
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
}

body{
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  margin: 0;

}
.idea-header-text {
  color: #00A79d;
  margin: 0;

}

.box-header-text{
  color: #6d6e71
}

.form {
  background-color: #e5f3f2;
  text-align: center;

}


.save-idea-button{
  padding: 5px 90px;
}

.form-fields{
  width: 100%;
  height: 50%;
  text-align: center;
  padding:20px;
  

}
.ideas {
  width: 100%;
  justify-content: center;
}
.idea-title, .idea-body{
  width: 70%;
  margin: 5px 0;
}

.save-idea-button{
  color: #fff;
  background-color: #00a79d;
  border: 0;
  outline: 0;
  width: 70%;
  margin: 5px 0;
}

/* BOTTOM HALF*/ 

.ideas{
  width: calc(70% - 6px);
  margin-left: auto;
  margin-right: auto;
}

.search-ideas{
  width: 100%;
}