body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

header {
  background-color:#E5F3F2;
  height: 100%;
  height: 4.5rem;
}

h1 {
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
}

.idea-header-text {
  color: #00A79D;
}

.box-header-text{
  color: #6D6E71;
}

.form {
  background-color: #E5F3F2;
  text-align: center;

  margin: 0 auto 20px auto;

}

.save-idea-button {
  padding: 5px 90px;
}

.form-fields {
  height: 50%;
  padding: 20px;
  width: 100%;
}

.ideas {
  justify-content: center;
  width: 100%;
}

.idea-title, 
.idea-body {
  margin: 5px 0;
  width: 70%;
}

.save-idea-button{
  background-color: #00A79D;
  border: 0;
  color: #FFF;
  margin: 5px 0;
  outline: 0;
  width: 70%;
}

/* BOTTOM HALF*/ 

.ideas {
  width: 70%;
  margin: 0 auto;
}

.search-ideas {
  width: 100%;
}