body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------TITLE SECTION------------------*/

.top-half {
  align-items: center;
  background-color: #e5f3f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

h1 {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 3.2rem;
  margin: 0 0 1.5rem 0;
}

.idea-header-text {
  color: #00a79d;
}

.box-header-text {
  color: #6d6e71;
}

/*------------------INPUT FORM------------------*/

form {
  margin: 0 auto;
  max-width: 605px;
}
form input {
  box-sizing: border-box;
  border: 0.06em solid #d1d2d3;
  font-size: 1.8rem;
  margin: 0.3rem 0;
  padding: 2px 5px;
  width: 100%;
  transition: all 0.1s linear;
  color: #c4c5c7;
}

input:focus {
  outline: none;
}

form button {
  box-sizing: border-box;
  background-color: #00a79d;
  color: white;
  font-size: 1.7rem;
  margin: 0.3rem 0;
  padding: 4px px;
  width: 100%;
}

form button:hover {
  background-color: #045e55;
  cursor: pointer;
}

/*------------------BOTTOM HALF------------------*/

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  text-align: center;
  width: 100%;
}

section input {
  border: 1px solid #d1d2d3;
  box-sizing: border-box;
  font-size: 1.5rem;
  max-width: 600px;
  outline: 0;
  padding: 5px;
  width: 100%;
}
/*------------------IDEA CARD------------------*/

li {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 2px solid #d1d2d3;
  width: 100%;
  max-width: 600px;
  background-color: lightgrey;
}

/*------------------IDEA BUTTONS------------------*/

.idea-button {
  cursor: pointer;
  border: 0;
  outline: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.delete-idea-button {
  background: url(icons/delete.svg);
}

.delete-idea-button:hover {
  background: url(icons/delete-hover.svg);
}
.upvote-idea-button {
  background: url(icons/upvote.svg);
}

.upvote-idea-button:hover {
  background: url(icons/upvote-hover.svg);
}

.downvote-idea-button {
  background: url(icons/downvote.svg);
}

.downvote-idea-button:hover {
  background: url(icons/downvote-hover.svg);
}

/*------------------MEDIA QUERIES------------------*/

@media only screen and (max-width: 800px) {
  .idea-body {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  form input,
  form button,
  section input {
    width: 90%;
  }
}
